altair==5.3.0
anyio==4.4.0
appdirs==1.4.4
apturl==0.5.2
asgiref==3.8.1
attr==0.3.1
attrs==23.2.0
backports.zoneinfo==0.2.1
bleach==5.0.1
blinker==1.8.2
boxing==0.1.4
Brlapi==0.7.0
cachetools==5.3.3
certifi==2019.11.28
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
command-not-found==0.3
construct==2.5.3
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
defusedxml==0.7.1
distro==1.9.0
distro-info==0.23+ubuntu1.1
Django==4.2.15
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
entrypoints==0.3
exceptiongroup==1.2.1
expiringdict==1.2.2
filelock==3.14.0
fsspec==2024.6.0
gitdb==4.0.11
gTTS==2.5.3
htmlmin==0.1.12
httpcore==1.0.5
httplib2==0.14.0
httpx==0.27.0
humansignal-drf-yasg==1.21.9
idna==2.8
ijson==3.2.3
importlib_metadata==7.1.0
inflection==0.5.1
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonschema==3.2.0
keyring==18.0.1
label-studio==1.12.1
label-studio-converter==0.0.58
label-studio-tools==0.0.4
language-selector==0.1
launchdarkly-server-sdk==8.2.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.41.1
lockfile==0.12.2
louis==3.12.0
lxml==5.2.2
macaroonbakery==1.3.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.0.8
netifaces==0.10.4
networkx==3.1
nltk==3.6.7
numba==0.58.1
numpy==1.24.4
oauthlib==3.1.0
olefile==0.46
openai==1.30.3
opencv-python==4.10.0.82
ordered-set==4.0.2
packaging==24.0
pandas==2.0.3
pefile==2023.2.7
pexpect==4.6.0
pillow==10.3.0
platformdirs==4.2.2
pooch==1.8.2
proto-plus==1.23.0
protobuf==4.25.3
pycairo==1.16.2
pycparser==2.22
pycups==1.9.73
pydantic==1.10.15
pydeck==0.9.1
pygame==2.6.0
Pygments==2.18.0
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyRFC3339==1.1
pyrsistent==0.20.0
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.9.0.post0
python-debian==0.1.36+ubuntu1.1
python-json-logger==2.0.4
python-ptrace==0.9.9
pytz==2022.7.1
pyxdg==0.26
PyYAML==6.0.1
redis==3.5.3
regex==2024.5.15
rich==13.7.1
rq==1.10.1
rsa==4.9
rules==2.2
semver==3.0.2
sentry-sdk==2.3.1
simplejson==3.16.0
six==1.14.0
smmap==5.0.1
sniffio==1.3.1
soundfile==0.12.1
soxr==0.3.7
sqlparse==0.5.0
ssh-import-id==5.10
streamlit==1.37.0
sympy==1.12.1
systemd-python==234
tenacity==8.5.0
threadpoolctl==3.5.0
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
triton==2.3.1
typing_extensions==4.12.0
tzdata==2024.1
ua-parser==0.18.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
ujson==5.10.0
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.26.18
user-agents==2.2.0
wadllib==1.3.3
watchdog==4.0.1
webencodings==0.5.1
Werkzeug==3.0.3
xkit==0.0.0
xmljson==0.2.0
zipp==3.19.2
