{% extends '../base.html' %} {% block body %}
<main class="login-bg">
  <div class="login-form-area">
    <form method="POST">
      {% csrf_token %}
      <div class="login-form">
        <div class="login-heading">
          <span>Forgot Password</span>
        </div>

        <div class="input-box">
          <div class="single-input-fields">
            <label>Email</label>
            <input type="email" name="email" id="id_email" required />
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
          </div>
        </div>

        <div class="login-footer">
          <button class="submit-btn3" id="reset-pass-btn">Reset Password</button>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock body %}
