{% extends '../base.html' %}
{% block body %}
<main class="login-bg">
    <div class="login-form-area">
      <form method="POST">
        {% csrf_token %}
        <div class="login-form">
          <div class="login-heading">
            <span>Reset Password</span>
          </div>
          <div class="input-box">
            <div class="single-input-fields">
              <label>Email</label>
              {{ form.email }}
            </div>
          </div>
  
          <div class="login-footer">
            <button class="submit-btn3">Send Reset Link</button>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock %}
