{% extends '../base.html' %} {% block body %}
<main class="login-bg">
  <div class="login-form-area">
    <form method="POST">
      {% csrf_token %}
      <div class="login-form">
        <div class="login-heading">
          <span>Forgot Password</span>
        </div>
        <div class="input-box">
          <div class="single-input-fields">
            <label>Email</label>
            <input type="email" name="email" id="email" required />
          </div>
          <div class="single-input-fields">
            <label>OTP</label>
            {{ form.otp }}
            {% if form.otp.errors %}
              <div class="error">{{ form.otp.errors }}</div>
            {% endif %}
          </div>
          <div class="single-input-fields">
            <label>New Password</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
              <div class="error">{{ form.new_password1.errors }}</div>
            {% endif %}
          </div>
          <div class="single-input-fields">
            <label>Confirm Password</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
              <div class="error">{{ form.new_password2.errors }}</div>
            {% endif %}
          </div>
        </div>
        <div class="login-footer">
          <button class="submit-btn3">Reset Password</button>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock body %}
