.error {
    color: red;
}

div.single-input-fields a {
    color: black!important;
}

form#review-form {
    padding: 10px 107px;
}

form#review-form p {
    display: flex;
    align-items: center;
    gap: 20px;
}

form#review-form .rating i.y-rating {
    font-size: 20px;
    color: #FF5700;
}

form#review-form .rating i.no-rating {
    font-size: 20px;
    color: gray;
}

.review-item .rating i.y-rating {
    font-size: 20px;
    color: #FF5700;
}

.review-item .rating i.no-rating {
    font-size: 20px;
    color: gray;
}

form#review-form .rating, .comment {
    padding: 15px;
}

form#review-form .comment {
    width: 260px;
}

.book-rating .rating i.y-rating {
    color: white!important;
}

.book-rating .rating i.no-rating {
    color: #ffffff75 !important;
}

.all-book-rating .rating i.y-rating {
    color: #FF5700!important;
}

.all-book-rating .rating i.no-rating {
    color: gray!important;
}

a.saved-read-book {
    color: black;
    text-decoration: none;
}

a.saved-read-book:hover {
    color: #0d0da3bd;;
}

.book-title:hover {
    color: black;
}

.book-summary {
    background: #ff1616;
    color: white;
    padding: 20px 30px;
    border-radius: 35px;
    margin: 10px 0
}

.book-summary .book-title {
    font-weight: bold;
    font-size: 22px;
}

.book-summary .book-title:hover {
    color: white;
}

.logo a {
    color: red;
    font-weight: bold;
    font-size: 30px;
}